html, body, * {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

nav > ul {
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.container {
  padding: 20px 0px;
}

.img_container {
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  vertical-align: top;

  &.full {
    max-width: calc(50% - 22px);
    min-width: calc(50% - 22px);
    margin: 0px 20px 20px 0px;
  }
  
  .img_inner_container {
    filter: blur(0px);
    transition: filter 0.3s ease;
    width: 100%;
    height: 100%;

    &.blur {
      filter: blur(10px);
    }

    img, svg {
      width: 100%;
      height: auto;
    }
  }
}
