<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/svg_demo">SVG Demo</a></li>
    <li><a href="/img_demo">Img Demo</a></li>
    <li><a href="/lazy_demo">Lazy Demo</a></li>
  </ul>
</nav>