<!DOCTYPE html>
<html>
<% include modules/head %>
<body>
  <div id="wrapper">
    <% include modules/nav %>
    <div class="container">
      <form action="/image" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" name="Submit">
      </form>
    </div>
    <div class="container">
      <%for(image of images) {%>
        <div class="img_container">
          <div class="img_inner_container">
            <img src="/img/<%=image.image%>" alt="">
          </div>
        </div>
        <div class="img_container">
          <div class="img_inner_container">
            <%-image.placeholder%>
          </div>
        </div>
      <%}%>
    </div>
  </div>
</body>
</html>