<!DOCTYPE html>
<html>
<% include modules/head %>
<body>
  <div id="wrapper">
    <% include modules/nav %>
    <div class="container">
      <%for(image of images) {%>
        <div class="img_container">
          <div class="img_inner_container blur">
           <%-image.placeholder%>
         </div>
        </div>
      <%}%>
    </div>
  </div>
</body>
</html>