/* line 1, scss/main.scss */
html, body, * {
  margin: 0;
  padding: 0; }

/* line 6, scss/main.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 11, scss/main.scss */
#wrapper {
  max-width: 1280px;
  margin: 0 auto; }

/* line 16, scss/main.scss */
nav > ul {
  list-style-type: none; }
  /* line 19, scss/main.scss */
  nav > ul li {
    display: inline-block;
    margin-right: 10px; }

/* line 25, scss/main.scss */
.container {
  padding: 20px 0px; }

/* line 29, scss/main.scss */
.img_container {
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  vertical-align: top; }
  /* line 35, scss/main.scss */
  .img_container.full {
    max-width: calc(50% - 22px);
    min-width: calc(50% - 22px);
    margin: 0px 20px 20px 0px; }
  /* line 41, scss/main.scss */
  .img_container .img_inner_container {
    filter: blur(0px);
    transition: filter 0.3s ease;
    width: 100%;
    height: 100%; }
    /* line 47, scss/main.scss */
    .img_container .img_inner_container.blur {
      filter: blur(10px); }
    /* line 51, scss/main.scss */
    .img_container .img_inner_container img, .img_container .img_inner_container svg {
      width: 100%;
      height: auto; }
